*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-size: 62.5%;
}

:root {
	--primary-color: rgb(255, 255, 255);
	--secondary-color: rgb(0, 0, 0);
	--accent-color: rgb(30, 64, 175);
}

body {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	font-size: 1.6rem;
	font-family: sans-serif;
	font-weight: 400;
	font-style: normal;
}

::-moz-selection {
	background-color: var(--accent-color);
	color: var(--primary-color);
}

::selection {
	background-color: var(--accent-color);
	color: var(--primary-color);
}

ul {
	list-style: none;
}

h1 {
	font-size: 6rem;
	line-height: 6rem;
}

h1 span {
	color: var(--accent-color);
	text-decoration: underline;
}

h2 {
	font-size: 2rem;
	line-height: 2rem;
	font-weight: inherit;
}

a,
a:visited {
	color: var(--secondary-color);
}

a:hover {
	text-decoration-color: var(--accent-color);
}

label input:focus,
label input:hover,
input[type=submit],
a:focus {
	border-radius: 0.4rem;
	outline: 0.2rem solid var(--accent-color);
}

a[data-style=secondary] {
	color: var(--accent-color);
	text-decoration: none;
	white-space: nowrap;
	flex: 1;
}

a[data-style=secondary]:hover {
	background-color: var(--accent-color);
	color: var(--primary-color);
}

input[type=submit] {
	background-color: var(--accent-color);
	color: var(--primary-color);
	cursor: pointer;
	border: none;
}

label {
	display: block;
}

h3,
input[type=submit],
label input {
	font-weight: inherit;
	font-size: inherit;
	font-family: inherit;
}

input[type=submit]:hover,
input[type=submit]:focus {
	outline: 0.2rem solid var(--secondary-color);
}

label li {
	color: var(--warning-color);
}

input[type=submit],
label input {
	width: 100%;
}

.stack {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	row-gap: 1rem;
}

.stack[data-space=sm] {
	row-gap: 4rem;
}

.cover {
	display: flex;
	flex-direction: column;
	min-block-size: 100vh;
}

.cover > * {
	margin-block: 4rem;
}

.cover > :first-child:not(main) {
	margin-block-start: 0;
}

.cover > :last-child:not(main) {
	margin-block-end: 0;
}

.cover > main {
	margin-block: auto;
}

.cluster {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: flex-start;
	align-items: flex-start;
}

.cluster[data-column=sm] {
	column-gap: 4rem;
}

.cluster[data-justify=center] {
	justify-content: center;
}

.cluster[data-align=center] {
	align-items: center;
}

.with-sidebar {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.with-sidebar > :first-child {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 50%;
}

.with-sidebar > :last-child {
	flex-basis: 28rem;
	flex-grow: 1;
}

.box {
	border: 0.2rem solid var(--accent-color);
	border-radius: 0.4rem;
	padding: 1rem 2rem;
	outline: 0.1rem solid transparent;
	outline-offset: -0.1rem;
}

.text-transform\:capitalize {
	text-transform: capitalize;
}

.text-align\:center {
	text-align: center;
}

.header {
	background-color: var(--primary-color);
	padding-block: 4rem;
}

.company-logo {
	filter: brightness(0.7);
	mix-blend-mode: difference;
	height: 15%;
	aspect-ratio: 3/1;
	object-fit: contain;
}

.divider {
	position: relative;
}

.divider::after,
.divider::before {
	background-color: var(--accent-color);
	content: "";
	position: absolute;
	top: 50%;
	width: 45%;
	height: 0.1rem;
}

.divider::before {
	left: 0;
}

.divider::after {
	right: 0;
}

.icon {
	height: 2.5rem;
	width: 2.5rem;
	stroke: var(--accent-color);
}

.wrapper {
	margin-inline: auto;
	padding-inline: 2rem;
	max-width: 92ch;
}

.wrapper[data-size=sm] {
	max-width: 45ch;
}